/* section-header */
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Roboto", serif;
}
.container {
    width: 90%;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: inherit;
}
.header{
    background-color: #f5f5f5;
    padding: 100px 5px;
}
.navbar{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.navbar .logo{
    font-size: 16px;
    color: #212529;
}
.navbar .logo span{
    color: rgb(190, 26, 26);
}
.navbar .links{
    display: none;
}
.navbar .links ul{
    list-style: none;
    display: flex;
    gap: 25px;
}
.navbar .links ul li a{
    text-decoration: none;
    color: #59595e;
}
.navbar .links ul li.active{
    border-bottom: 2px solid #ce1212;
}
.navbar .links ul li{
    position: relative;
    overflow: hidden;
}
.navbar .links ul li::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ce1212;
    position: absolute;
    display: flex;
    opacity: 0;
    transform: translate(-100%);
    transition: all 1s;
    }
.navbar .links ul li:hover::after{
    color: inherit;
    transform: translate(0);
    opacity: 1;
}
.navbar .icons{
    display: flex;
    gap: 20px;
    font-size: 24px;
}
.menu-toggle{
    order: 2;
}
.theme-toggle{
    order: 1;
} 
.header .header-content .img-header img{
    width: 100%;
}
.header .header-content .img-header:hover img{
    animation-name: image;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    position: relative;
}
/* animation */
@keyframes image {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(5deg);
    }
    51%{
        transform: rotate(-5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.header .header-content .content h2{
    font-family: "Amatic SC", serif;
    font-size: 65px;
    font-weight: 700;
    color: #212529;
}
.header .header-content .content p{
    color: #888;
    font-size: 16px;
}
.header .header-content .buttons{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.header .buttons .btn {
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 50px;
    font-size: 15px;
}
.btn.primary {
    background: #ce1212;
    color: #fff;
}
.btn.video {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.play-icon {
    background-color: white;
    color: #212529;
    padding: 8px 12px;
    border-style: solid;
    border-width: 5px;
    border-color: #ce1212 transparent #ce1212 #ce1212;
    border-radius: 50%;
    font-size: 14px;
}
/* section-chefs */
.chefs{
    padding: 5% 0;
    text-align: center;
}
.chefs h2{
    color: #7f7f90;
    font-size: 14px;
    font-weight: 400;
}
.chefs p{
    margin: 20px;
    font-family: "Amatic SC", serif;
    font-size: 50px;
    color: #212529;
}
.chefs p span {
    color: #ce1212;
}
.chefs .card-chef{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 20px;
    transition: all 1s;
    position: relative;
    overflow: hidden;
}
.card-chef .caption{
    background-color: #f5f5f5;
    position: absolute;
    top: 20%;
    right: 5%;
    width: 8%;
    height: 100px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #7f7f90;
    transform: translateX(170%);
    opacity: 0;
    transition: all 2s;
}
.chefs .card-chef:hover .caption{
    opacity: 1;
    transform: translateX(0);
}
.chefs .card-chef:hover{
    transform: scale(1.1, 1.1);
}
.chefs .card-chef .chef-img img{
    width: 100%;
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.chefs .card-chef .chef-info{
    padding: 15px;
}
.chefs .card-chef .chef-info h3{
    margin: 10px 0 5px;
    font-size: 18px;
    color: #212529;
}
.chefs .card-chef .chef-info .chef-role {
    color: #7f7f90;
    font-size: 14px;
    font-family: "Roboto", serif;
}
.chefs .card-chef .chef-info .chef-bio {
    font-size: 15px;
    color: #7f7f90;
    font-style: italic;
    font-family: "Roboto", serif;
}
/* section-gallery */
.gallery{
    background-color: #f5f5f5;
    padding: 5% 0;
    text-align: center;
}
.gallery h2{
    color: #7f7f90;
    font-size: 14px;
    font-weight: 400;
}
.gallery p{
    margin: 20px;
    font-family: "Amatic SC", serif;
    font-size: 50px;
    color: #212529;
}
.gallery p span {
    color: #ce1212;
}
.gallery .gallery-item{
    columns: 1;
}
.gallery .gallery-item .gallery-img{
    position: relative;
    margin-bottom: 20px;
    border: 5px solid white;
    width: 100%;
    overflow: hidden;
}
.gallery-item .gallery-img > img{
    width: 100%;
    display: block;
    transition: all 1s;
}
.gallery-item .gallery-img .caption{
    background-color: rgba(22, 26, 40, 0.4);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    transform: translateY(100%);
    opacity: 0;
    transition: all 2s;
}
.caption h3{
    background-color: rgb(22, 26, 40);
}
.caption p{
    font-family: "Roboto", serif;
    font-size: 15px;
    color: #f5f5f5;
}
.gallery-item .gallery-img:hover img{
    transform: scale(1.1,1.1);
}
.gallery-item .gallery-img:hover .caption{
    opacity: 1;
    transform: translateY(0);
}
/* section-contact */
.contact{
    padding: 5% 0;
    text-align: center;
}
.contact h2{
    color: #7f7f90;
    font-size: 14px;
    font-weight: 400;
}
.contact p{
    margin: 20px;
    font-family: "Amatic SC", serif;
    font-size: 50px;
    color: #212529;
}
.contact p span {
    color: #ce1212;
}
.contact .info{
    padding: 5% 0;
    columns: 1;
}
.contact .info .card-contact{
    box-sizing: border-box;
    background-color: #f5f5f5;
    padding: 10px ;
    margin-bottom: 3%;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    gap: 3%;
}
.contact .info .card-contact .icon i{
    background-color: #ce1212;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact .info .card-contact .content h1{
    color: #7d7d7d;
    font-size: 20px;
}
.contact .info .card-contact .content p{
    font-size: 16px;
    font-family: "Roboto", serif;
    margin-top: 0;
    margin-left: 0;
}
.contact .contact-form{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.contact .contact-form input,
.contact .contact-form textarea{
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
}
.contact .contact-form input:focus,
.contact .contact-form textarea:focus{
    outline: 2px solid #ce1212;
    border: 1px solid #ce1212;
}
.contact .contact-form textarea{
    height: 100px;
}
.contact .contact-form button {
    background: #ce1212;
    color: white;
    padding: 15px;
    margin: 0 100px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50px;
}
.contact .contact-form button:hover {
    background: #eb2828;
}
/* footer */
.footer{
    background-color: #000;
    color: #fff;
    padding: 5% 0;
}
.footer .foot{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}
.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 10px;
}
.footer .logo img{
    width: 7%;  
    margin: -10px 0px;
}
.footer .logo h2{
    font-size: 24px;
}
.footer .logo h2 span{
    color: #ce1212;
}
.footer .logo p{
    font-size: 14px;
}
.footer .social,
.footer .logo h3{
    text-align: center;
}
.footer .social .line{
    border-bottom: 1px solid #7d7d7d;
}
.footer .social .icons{
    display: flex;
    justify-content: center;
    gap: 70px;
}
.footer .social .icons i{
    margin: 15px 0;
    font-size: 17px;
    cursor: pointer;
}
.footer .newsletter h3{
    font-size: 18px;
}
.footer .newsletter p{
    font-size: 16px;
}
.footer .subscribe-box input {
    padding: 8px;
    width: 60%;
    border: none;
}
.footer .subscribe-box button {
    box-sizing: border-box;
    background: #ce1212;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
}
.footer .quick-links{
    overflow: hidden;
}
.footer .newsletter .quick-links ul{
    list-style: none;
    width: 100%;
    columns: 2;
    padding: 0;
}
.footer .newsletter .quick-links ul li{
    margin: 5px 0;
    transition: all 1s;
}
.footer .newsletter .quick-links ul li:hover{
    background-color:#212529 ;
    transform: translateX(10px);
    padding: 0 10px;
}
.footer .contact-info i{
    font-size: 15px;
    color: #ce1212;
}